* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #014e56;
}

.container {
  width: 1200px;
  margin: 30px auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  color: #ffffff;
  transition: all 0.5s ease;
}

a:hover {
  color: #f67e7e;
}

.navbar__btn {
  width: 153px;
  height: 48px;
  border-radius: 50px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 15px;
  transition: all 0.5s ease;
}

.navbar__btn:hover {
  transform: scale(1.1);
  transition: 1s;
}

.navbar__btn:active {
  background-color: #f67e7e;
  border: none;
  transition: 0.3s;
}

.navbar__container,
.navbar__list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  position: absolute;
  gap: 50px;
  right: 800px;
}

.talent {
  width: 100%;
  margin: 150px auto;
}

.talent__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.talent__title {
  width: 532px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  /* or 100% */

  color: #ffffff;
  z-index: 1;
}

.talent__title span {
  color: #f67e7e;
}

.talent__hr {
  width: 50px;
  height: 4px;
  background-color: #79c8c7;
  border: none;
  border-radius: 5px;
  margin: 50px 0;
  transition: all 1s ease;
}

.talent__hr:hover {
  transform: scale(1.3);
  transition: 1s;
}

.talent__text {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  color: #ffffff;
}

.team {
  width: 100%;
  background-color: #012f34;
  height: 640px;
}

.team__container,
.team__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team__left {
  align-items: start;
  flex-direction: column;
  margin-bottom: 200px;
}

.team__hr {
  width: 50px;
  height: 4px;
  background-color: #f67e7e;
  border: none;
  border-radius: 5px;
  margin: 50px 0;
  transition: all 1s ease;
}

.team__hr:hover {
  transform: scale(1.3);
  transition: 1s;
}

.team__title {
  width: 445px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* or 100% */

  color: #ffffff;
}

.team__right {
  margin-top: 140px;
}

.team__card {
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 20px 0;
}

.team__hero {
  width: 72px;
  height: 72px;
}

.team__card-title {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  color: #f67e7e;
  margin: 0 15px;
}

.team__card-text {
  width: 445px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 15px 15px;
}

.bio {
  width: 100%;
  margin-top: 150px;
}

.bio__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bio__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 70px;
}

.bio__card {
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bio__img {
  width: 62px;
  height: 62px;
  margin-top: 20px;
}

.bio__title {
  width: 932px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* or 100% */
  text-align: center;

  color: #ffffff;
}

.bio__title span {
  color: #79c8c7;
}

.bio__text {
  width: 350px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */
  text-align: center;

  color: #ffffff;
}

.bio__bio {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  text-align: center;

  color: #79c8c7;
  margin-top: 25px;
}

.bio__bio-2 {
  font-family: "Livvic";
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */
  text-align: center;

  color: #ffffff;
  font-style: italic;
}

.ready {
  width: 100%;
  margin-top: 150px;
  background-color: #f67e7e;
  height: 200px;
}

.ready__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ready__title {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012f34;
  margin-top: 50px;
}

.ready__btn {
  width: 153px;
  height: 48px;
  border-radius: 50px;
  border: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 15px;
  transition: all 1s ease;
  margin-top: 50px;
}

.ready__btn:hover {
  transform: scale(1.1);
  transition: 1s;
}

.ready__btn:active {
  background-color: #012f34;
  border: none;
  transition: 0.3s;
}

.footer {
  background-color: #002529;
  padding: 15px 0;
  color: #fff;
}

.footer__container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #f67e7e;
}

.footer__text {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.6;
  transition: all 0.5s ease;
}

.footer__text:hover {
  color: #f67e7e;
  transition: 0.5s;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 30px;
}

.footer__socials {
  display: flex;
  gap: 16px;
}

.footer__socials img {
  width: 24px;
  height: 24px;
}

.footer__copyright {
  opacity: 0.6;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */
  text-align: right;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.6;
  transition: all 0.5s ease;
}

.footer__copyright:hover {
  color: #f67e7e;
  transition: 0.5s;
}
