* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
}

body {
  background-color: #014e56;
}

.header {
  width: 100%;
}

.navbar__container,
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__container .navbar__list,
.navbar__list .navbar__list {
  gap: 70px;
}

.navbar__container .navbar__item,
.navbar__list .navbar__item {
  /* home */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  color: #ffffff;
}

.navbar__container .navbar__link:hover,
.navbar__list .navbar__link:hover {
  color: #f67;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar__container .navbar__btn,
.navbar__list .navbar__btn {
  width: 153px;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 24px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 156% */
  color: #ffffff;
  background-color: transparent;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar__container .navbar__btn:hover,
.navbar__list .navbar__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.intro {
  width: 100%;
  margin-top: 100px;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__container .intro__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__container .intro__title {
  width: 532px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  /* or 100% */
  color: #ffffff;
}

.intro__container .intro__title span {
  color: #f67e7e;
}

.intro__container .intro__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.intro__container .intro__hr {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 50px;
  height: 4px;
  background: #79c8c7;
  border: none;
  border-radius: 10px;
}

.intro__container .intro__text {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
  margin: 30px 0;
}

.build {
  width: 100%;
  margin-top: 150px;
  background-color: #012f34;
  height: 685px;
}

.build .build__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.build .build__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.build .build__hr {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 50px;
  height: 4px;
  background: #f67;
  border: none;
  border-radius: 10px;
}

.build .build__title {
  width: 445px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* or 100% */
  color: #ffffff;
  margin-top: 50px;
}

.build .build__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 270px;
}

.build .build__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.build .build__hero {
  margin: 0 20px;
}

.build .build__card-title {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
  color: #f67e7e;
}

.build .build__card-text {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
  width: 480px;
  margin: 20px 0;
}

.result {
  background-color: #0b4f4f;
  padding: 80px 0;
  color: #ffffff;
}

.result .result__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.result .result__title {
  width: 936px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* or 100% */
  text-align: center;
  color: #ffffff;
}

.result .result__title span {
  color: #79e2c7;
}

.result .result__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.result .result__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  margin: 30px 0;
}

.result .result__text {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
  width: 350px;
}

.result .result__result {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
  color: #79e2c7;
  margin: 20px 0;
}

.result .result__result-2 {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
}

.result .result__img {
  width: 60px;
  height: 60px;
  margin: 20px 0;
}

.ready {
  width: 100%;
  background-color: #f67e7e;
  height: 200px;
}

.ready .ready__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ready .ready__title {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height, or 100% */
  color: #012f34;
  margin-top: 70px;
}

.ready .ready__btn {
  width: 152px;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #012f34;
  border-radius: 24px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  /* identical to box height, or 156% */
  color: #012f34;
  background-color: transparent;
  margin-top: 70px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.ready .ready__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.footer {
  background-color: #002529;
  padding: 48px 0 40px;
  color: #ffffff;
}

.footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.footer .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.footer .footer__link {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
  width: 50px;
}

.footer .footer__link:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  color: #f67;
}

.footer .footer__text {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
  font-size: 15px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.footer .footer__text:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  color: #f67;
}

.footer .footer__contact {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
}

.footer .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 50px;
}

.footer .footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.footer .footer__copyright {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
  width: 255px;
  font-size: 15px;
}

.footer .footer__icons:hover {
  background-color: #f67;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.about-intro {
  width: 100%;
}

.about-intro .about-intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 150px;
  height: 320px;
}

.about-intro .about-intro__title {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  /* identical to box height, or 156% */
  color: #ffffff;
}

.about-intro .about-intro__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-intro .about-intro__hr {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 50px;
  height: 4px;
  border: none;
  background-color: #f67;
  border-radius: 10px;
}

.about-intro .about-intro__text {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
  width: 730px;
  margin: 50px 0;
}

.meet {
  background-color: #004047;
  padding: 140px 0;
}

.meet .meet__title {
  margin-bottom: 64px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height, or 100% */
  text-align: center;
  color: #ffffff;
}

.meet .meet__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 70px;
}

.meet .meet__card {
  background-color: #012f34;
  width: 350px;
  height: 281px;
  text-align: center;
  position: relative;
}

.meet .meet__card .meet__card-last {
  background-color: #002529;
}

.meet .meet__card .meet__img {
  width: 96px;
  height: 96px;
  margin: 10px 0;
}

.meet .meet__card .meet__bio {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
  width: 350px;
  color: #79c8c7;
  margin: 30px 0;
}

.meet .meet__card .meet__bio span {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
}

.meet .meet__card .meet__plus {
  position: absolute;
  bottom: -28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.meet .meet__bio-text {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
  font-size: 16px;
  width: 254px;
  margin: 20px 40px;
}

.some {
  width: 100%;
  background-color: #012f34;
  height: 430px;
}

.some .some__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.some .some__title {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height, or 100% */
  text-align: center;
  color: #ffffff;
  margin-top: 150px;
}

.some .some__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
  margin-top: 80px;
}

.contact {
  width: 100%;
}

.contact .contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.contact .contact__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
}

.contact .contact__title {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  /* identical to box height, or 156% */
  color: #ffffff;
}

.contact .contact__subtitle {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */
  color: #f67e7e;
  margin-top: 10px;
}

.contact .contact__cards {
  margin-top: 30px;
}

.contact .contact__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact__hero {
  margin: 10px 20px 10px 0;
}

.contact .contact__card-title {
  width: 432px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #ffffff;
}

.contact .contact__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 120px;
}

.contact .contact__word {
  width: 445px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */
  letter-spacing: -0.115385px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  border-bottom: 2px solid white;
  margin: 25px 0;
}

.contact .contact__btn {
  width: 123px;
  height: 48px;
  color: #004047;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.contact .contact__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
/*# sourceMappingURL=style.css.map */