.contact {
  width: 100%;

  .contact__container {
    @include display;
    margin-bottom: 100px;
  }

  .contact__left {
    @include display;
    flex-direction: column;
    margin-top: 150px;
  }

  .contact__title {
    align-self: start;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    /* identical to box height, or 156% */

    color: #ffffff;
  }

  .contact__subtitle {
    align-self: start;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height, or 150% */

    color: #f67e7e;
    margin-top: 10px;
  }

  .contact__cards {
    margin-top: 30px;
  }

  .contact__card {
    @include display;
  }

  .contact__hero {
    margin: 10px 20px 10px 0;
  }

  .contact__card-title {
    @include text-style;
  }

  .contact__right {
    @include display;
    flex-direction: column;
    align-items: start;
    margin-top: 120px;
  }

  .contact__word {
    width: 445px;
    align-self: start;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    letter-spacing: -0.115385px;

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.6;
    border-bottom: 2px solid white;
    margin: 25px 0;
  }

  .contact__btn {
    width: 123px;
    height: 48px;
    color: #004047;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    transition: all 1s ease;
  }

  .contact__btn:hover {
    transform: scale(1.1);
    transition: all 1s ease;
  }
}
